# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\1、My_All_Code\API_Autotest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
