# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\1、My_All_Code\算法题目练习汇总\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
